body{
    display:flex;
    min-height: 100vh;
    flex-direction: column;
}
main{
    flex: 1 0 auto;
}

/*blog post*/

.blog-post{
    margin-bottom: 60px;
}

.blog-post-title{
    margin-bottom: 5px;
    font-size: 40px;
}

.blog-post-meta{
    margin-bottom: 20px;
    color: #999;
    font-style: italic;
}

a{
    font-family: 'Open Sans Condensed', sans-serif;
}

nav{
    background-color: #0059bc;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}


      

